/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #ffff00;
  --color-purple: #7402c1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}


/* Universal tags */
*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-purple);
}

ul {
  list-style: none;
  padding-left:0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-purple);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-purple);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-yellow);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-pur);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-purple);
  padding: 8px;
  z-index: 9999;
  /* transition: all var(--animation-duration) ease-in-out; */
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

#navbar.navbar--dark {
  background-color: var(--color-yellow);
  padding: 8px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
  /* display: none; */
}


.navbar__menu__item:hover {
  border-color: var(--color-purple);
  /* background-color: var(--color-white); */
}

.navbar__toggle-btn {
  position: absolute;
  top: 42px;
  right: 32px;
  font-size: 24px;
  color: var(--color-purple);
  display: none;
}

/* Home */
#home {
  /* background-image:url(".imgs/home-bg.png") center/cover no-repeat; */
  background-color: var(--color-yellow);
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 12px solid var(--color-purple);
}

.home__title,
.home__description {
  color: var(--color-purple);
}

.home__contact {
  color: var(--color-purple);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-purple);
  border-radius: var(--size-border-radius);
}

.home__contact:active {
  transform: scale(0.95);
}

/* Section Common  */
section {
  padding: 50px;
  text-align: center;
  /* max-width: 1920px; */
  /* margin: auto; */
}

/* About */

#about {
  background-color: var(--color-purple);
}

#about h1, 
#about p {
  color: var(--color-yellow);
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: var(--color-yellow);
  border: 4px solid var(--color-yellow);
  border-radius: 50%;
}

.major__icon:hover{
  background-color: var(--color-yellow);
  color: var(--color-purple);
  transform: rotate(-10deg);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__title,
.major__description {
  color: var(--color-yellow);
  
}

.major__title {
  padding-top: 16px;
  padding-bottom: 10px;
  font-weight: var(--weight-semi-bold);
}

.major__description {
  font-size: var(--font-small);
  max-width: 280px;
}

.job {
  display: flex;
  align-items: center;
  border-left: 4px solid var(--color-yellow);
  
}

.job__description {
  text-align: left;
  margin-left: 20px;
}

.job__name {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}
.job__period {
  font-size: var(--font-micro);
}

#skills {
 background-color: var(--color-yellow);
}


.skillset {
  display: flex;
  margin-top: 50px;
}

.skillset__left {
  flex-basis: 60%;
  border: 4px solid var(--color-purple);
  color: var(--color-purple);
  padding: 20px;
}

.skillset__title {
  font-weight: var(--weight-semi-bold);
  color: var(--color-purple);
}

/* .skill {
  display: flex;
  flex-direction: column;
  max-height: ;
} */

.skillset__right {
  flex-basis: 40%;
  background-color: var(--color-purple);
  color: var(--color-yellow);
  padding: 20px;
}

.skillset__right .sub{ 
  color: var(--color-yellow);
}

.skill_description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.skill_bar {
  width: 100%;
  /* height: 4px; */
  /* background-color: var(--color-dark-white); */
  border: 2px solid var(--color-purple);
  margin-bottom: 10px;
}

.skill__value {
  height: 4px;
  background-color: var(--color-purple);
}

.tools,
.etc {
  padding: 10px;
}

/* Work */
#works h3 {
  color: var(--color-purple);
}

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover{
  background-color: var(--color-purple);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-yellow);
  border-radius: 50%;
  color: var(--color-black);
  width: 24px;
  height: 24px;
  line-height: 24px;   /* 알아볼 것 */
  display: inline-block;
  position: relative;
  top: -10px;
  left: 10px;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.animation-out {
  opacity: 0;
  transform: scale(0.96) translateY(10px);
}

.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-dark-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(5px);
  transition: all var(--animation-duration);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3{
  color: var(--color-white);
}

.project__description h3:after{
  content: '';
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

#testimonials {
  background-color: var(--color-purple);
}

#testimonials h1 {
  color: var(--color-yellow);
}

.testimonials {
  margin: 40px; 
}

.testimonial {
  display: flex;
  margin: 32px 0;
  align-items: center;
  justify-content: center;
}

.testimonial__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 12px;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-yellow);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-purple);
}

.testimonial__speech-bubble a {
  color: var(--color-black);
  font-weight: var(--weight-semi-bold);
}


/* Contact  */
#contact {
  background-color: var(--color-yellow);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-purple);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  font-size: 50px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-in;;
  color: var(--color-purple);


}

.arrow-up.visible { /* .arrow-up.visible  child class를 정의해두는 것. */
  opacity: 1;
  pointer-events: auto;
}

.arrow-up i {
  /* vertical-align: middle; */
  /* height: 100%; */
  background-color: var(--color-white);
  border: 8px solid var(--color-white);
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}


/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }  

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 40px;
  }

  .major:last-child {
    margin-bottom: 0px;
  }

  .major__description {
    max-width: 768px;
  }

  .skillset {
    flex-direction: column;
  }

  .project { /* 넓이의 비율을 조정하는 기능. value 1은 균등하게 width 배분 */
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 100px;
    height: 100px;
  }

}